<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="webforms">
            <tab>mageme</tab>
            <resource>MageMe_WebForms::settings</resource>
            <group id="zendesk" translate="label comment" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Zendesk Integration Add-on</label>
                <comment>General settings that are required to connect Zendesk Support and Magento.</comment>

                <field id="domain" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Zendesk Domain</label>
                    <comment><![CDATA[<i>yourdomain</i>.zendesk.com]]></comment>
                </field>
                <field id="email" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Agent Email Address</label>
                    <comment><!-- @todo --></comment>
                </field>
                <field id="token" translate="label comment" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="0">
                    <label>Agent Token</label>
                    <comment><![CDATA[To generate a token, log in to Zendesk Admin Center then select Apps and integrations > Zendesk API > Token]]></comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>

                <field id="test" translate="button_label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label/>
                    <button_label>Test Connection</button_label>
                    <frontend_model>MageMe\WebFormsZendesk\Block\Adminhtml\System\TestConnection</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
